*.log
dist/wp-config.php
dist/wp-content/advanced-cache.php
dist/wp-content/backup-db/
dist/wp-content/backups/
dist/wp-content/blogs.dir/
dist/wp-content/cache/
dist/wp-content/upgrade/
dist/wp-content/uploads/
dist/wp-content/wp-cache-config.php
dist/wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
