*.log
dist/wp-config.php
dist/wp-config-sample.php
dist/wp-content/advanced-cache.php
dist/wp-content/backup-db/
dist/wp-content/backups/
dist/wp-content/blogs.dir/
dist/wp-content/cache/
dist/wp-content/upgrade/
dist/wp-content/uploads/
dist/wp-content/wp-cache-config.php
dist/wp-content/plugins/hello.php

dist/.htaccess
dist/license.txt
dist/readme.html
dist/sitemap.xml
dist/sitemap.xml.gz
